* {
    box-sizing: border-box;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.65);
    z-index: 999;
    -webkit-animation: fade .6s;
    -moz-animation: fade .6s;
    animation: fade .6s;
    overflow: auto;
}

.popup {
    top: 25%;
    left: 0;
    right: 0;
    font-size: 14px;
    margin: auto;
    width: 97%;
    position: absolute;
    border: 1px solid #383838;
    background: #fefefe;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    font: 14px/18px 'Tahoma', Arial, sans-serif;
    -webkit-box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
    -moz-box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
    -ms-box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
    box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
    -webkit-animation: fade .6s;
    -moz-animation: fade .6s;
    animation: fade .6s;
    padding: 15px 20px;
    display: flex;
    flex-flow: column;
}

.popup:before {
    z-index: 1000;
    content: url(../img/modal.png);
    margin: -125px auto 0;
    display: inline-block;
    background-color: white;
    border-radius: 100%;
    padding: 15px;
}

.close {
    top: 10px;
    right: 10px;
    width: 32px;
    height: 32px;
    position: absolute;
    border: none;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    background-color: rgba(0, 131, 119, 0.9);
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    cursor: pointer;
    outline: none;
}

.close:before {
    color: rgba(255, 255, 255, 0.9);
    content: "X";
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: normal;
    text-decoration: none;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.9);
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}

.close:active {
    background-color: rgba(252, 20, 0, 0.8);
}

.overlay-content {
    display: flex;
    text-align: center;
    z-index: 1200;
    flex-flow: column;
    justify-content: center;
}

.overlay-content h2 {
    font-size: 2rem;
    line-height: 1em;
    color: #eb304d;
}

.overlay-content p {
    display: block;
    font-size: 1rem;
    color: #b9bcd1;
}

.overlay-content a {
    padding: 1rem 2rem;
    color: white;
    background-color: #eb304d;
    border-radius: 5px;
    width: 140px;
    margin: 0rem auto;
}

.overlay-content a:active {
    background-color: #A40000;
}

body {
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

.do-not-display-in-mobile {
    display: none;
}

.top {
    height: 100%;
    background-color: #0e1a35;
    background-image: url(../img/Grid.png);
    background-position: top;
    background-repeat: no-repeat;
}

.container {
    margin: 0 auto;
    box-sizing: border-box;
}

.nav {
    position: relative;
    z-index: 500;
    padding-top: 10px;
    display: block;
}

.logo {
    display: block;
    background-image: url(../img/logo.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: 10px;
    background-position-y: center;
    height: 40px;
    transition: transform 0.2s ease-in;
    width: 180px;
}

.logo:active {
    transform: scaleY(1.2);
}

#nav-icon3 {
    width: 50px;
    position: absolute;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    top: 10px;
    right: 0px;
}

#nav-icon3 span {
    display: block;
    position: absolute;
    height: 7px;
    width: 80%;
    background: #5584ff;
    border-radius: 9px;
    opacity: 1;
    left: 0px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

#nav-icon3 span:nth-child(1) {
    top: 0px;
}

#nav-icon3 span:nth-child(2),#nav-icon3 span:nth-child(3) {
    top: 15px;
}

#nav-icon3 span:nth-child(4) {
    top: 30px;
}

#nav-icon3.open span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
}

#nav-icon3.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

#nav-icon3.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

#nav-icon3.open span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
}

.menu {
    display: none;
    list-style: none;
    top: 75%;
    padding-left: 0;
    overflow: hidden;
    width: 100%;
    position: absolute;;
}

.menu a {
    display: block;
    background: #0e1a36;
    text-decoration: none;
    text-align: center;
    padding: 20px;
    border-bottom: 0.5px solid rgba(200, 200, 200, 0.2);
    color: white;
}

.menu a:hover {
    background: #5b8cff;
    transition: background 0.3s ease;
}

.hero {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-image: url(../img/Gir.png);
    background-repeat: no-repeat;
    padding-top: 20px;
    background-position: top;
    background-size: cover;
}

.caption {
    text-align: center;
}

.home-image::before {
    z-index: -1;
    content: "";
    display: block;
    position: absolute;
    box-shadow: 0px 0 60px -3px rgba(8,97,207, 0.7);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.home-image::after {
    content: '';
    display: block;
    position: absolute;
    bottom: -36px;
    height: 100px;
    background: #fff;
    z-index: -1;
    right: -2%;
    left: -2%;
}

.home-image {
    z-index: 20;
    position: relative;
    margin-bottom: -4rem;
    max-width: 95%;
}

.home-image>img {
    width: 100%;
    height: auto;
}

.caption h1 {
    color: white;
    font-size: 2.3rem;
    font-weight: 100;
    display: inline-block;
}

.caption p {
    color: #8492af;
    font-size: 1rem;
    margin: 0;
}

.caption a {
    transition: background-color .3s;
    display: inline-block;
    background-color: #5584ff;
    margin: 2rem 0rem;
    border-radius: 2rem;
    font-weight: bold;
    font-size: 0.8rem;
    color: white;
    padding: 0.85rem 2.5rem;
}

.caption>a:active {
    background-color: #29334E;
}

.main {
    z-index: 1;
    display: block;
    position: relative;
    background-color: white;
}

.features {
    z-index: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 10rem;
    margin: 0 auto;
    width: 95%;
}

.feature {
    text-align: center;
    display: block;
    width: 300px;
    margin: 18px 5px;
}

.icon-wrapper {
    display: flex;
    width: 80px;
    height: 80px;
    justify-content: center;
    align-items: center;
    margin: 0px auto 5px;
    position: relative;
}

.icon-wrapper img {
    width: 80%;
    height: 80%;
}

.feature h5 {
    font-weight: bold;
    font-size: 1.125rem;
    margin: 0.5rem 0rem 1rem;
}

.feature p {
    font-size: 0.9rem;
    color: #8492af;
    line-height: 1.5em;
    margin: 0;
}

.feature a {
    display: inline-block;
    padding: 0.5rem 2rem;
    background-color: transparent;
    border: 1px solid #dadee7;
    border-radius: 50px;
    cursor: pointer;
    transition: .3s background-color ease-in-out;
    font-weight: bold;
    margin: 20px 0px;
}

.feature a:active {
    background-color: lightblue;
}

.devices {
    flex-wrap: wrap;
    position: relative;
    display: flex;
    justify-content: space-between;
    left: 0;
    right: 0;
    padding: 10px 0px 20px;
    align-items: center;
}

.specs>div>img {
    width: 24px;
    height: 24px;
    margin: 5px;
}

.specs>div {
    word-wrap: break-word;
}

.specs {
    display: inline-block;
    width: 95%;
    margin: 0% 1% 0% 3%;
}

.specs h2 {
    font-size: 2.3rem;
    font-weight: 100;
}

.specs p {
    color: #8492af;
    font-size: 1rem;
    line-height: 1.5em;
    display: inherit;
    margin: 1.33em 0rem;
}

.dev {
    background-image: url(../img/devices.png);
    background-size: contain;
    background-position-y: center;
    background-position-x: 100%;
    background-repeat: no-repeat;
    display: none;
    width: 57%;
    min-height: 600px;
}

.specs>div {
    color: #5584ff;
    font-size: 1rem;
    padding: 1rem 0rem;
    display: flex;
    align-items: center;
}

.area-background {
    background-color: #0e1a35;
    height: auto;
}

.drag-area {
    background-color: #0e1a35;
    display: flex;
    flex-wrap: wrap;
    background-image: url(../img/Grid.png);
    align-items: center;
    background-size: cover;
}

.drag-area-background {
    display: flex;
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
    justify-content: space-around;
    flex-flow: column;
    padding: 0px 0px 50px;
    width: 100%;
    background-image: url(../img/Gir.png);
    background-size: cover;
}

.empty-block {
    display: none;
    box-sizing: border-box;
    width: 95%;
}

.task {
    background-image: url(../img/task.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 5px;
    display: block;
    box-sizing: border-box;
    box-shadow: 0px 0px 25px 2px rgba(68,51,196,0.5);
    cursor: pointer;
    height: 31px;
}

.i1 {
    background-image: url(../img/i1.png);
}

.i2 {
    background-image: url(../img/i2.png);
}

.d1 {
    background-image: url(../img/d1.png);
}

.d2 {
    background-image: url(../img/d2.png);
}

.in,.out {
    display: inline-block;
    height: 100%;
    width: 50%;
}

.blocks {
    color: white;
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 20px;
    display: block;
}

#drop {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: none;
    box-shadow: none;
}

.slider-body {
    display: inline-block;
    width: 95%;
    margin: 3rem 1rem;
}

.slider {
    width: 100%;
}

.slide-content {
    outline: none;
}

.your-class h2 {
    color: white;
    font-weight: 100;
    font-size: 2rem;
}

.slick-arrow {
    transform: scale(1);
    transition: transform .1s ease-in;
}

.slick-arrow:active {
    transform: scale(1.2);
}

.your-class p {
    color: #8492af;
    font-size: 0.8rem;
    margin: 1rem 0rem;
    line-height: 2em;
}

.template {
    position: relative;
    height: auto;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    max-width: 2000px;
}

.template-caption {
    text-align: center;
    width: 95%;
    margin-top: 2rem;
}

.template h2 {
    display: inline-block;
    font-weight: 100;
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 1rem;
}

.template p {
    display: block;
    color: #8492af;
    line-height: 1.5em;
    font-size: 1rem;
}

.example {
    position: relative;
    display: block;
    background-image: url(../img/Mockup.png);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-size: 100%;
    width: 95%;
    height: 350px;
}

.comment1 {
    display: block;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 60%;
}

.example h6 {
    font-size: 0.9rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.point1 {
    position: absolute;
    width: 45px;
    height: 45px;
    background-image: url(../img/point1.png);
    background-position: center;
    background-size: 80%;
    display: inline-block;
    background-color: rgba(85,132,255, 0.5);
    border-radius: 45px;
    margin: 0px;
    background-repeat: no-repeat;
    right: -8%;
    bottom: -20px;
}

.point2 {
    position: absolute;
    width: 45px;
    height: 45px;
    background-image: url(../img/point1.png);
    background-position: center;
    background-size: 80%;
    left: -10%;
    top: -20px;
    display: inline-block;
    background-color: rgba(85,132,255, 0.5);
    border-radius: 45px;
    margin: 0px;
    background-repeat: no-repeat;
}

@media screen and (orientation: landscape) { 
  .point1 {
    right: -8%;
    top: -20px;
  }

  .point2 {
    left: -8%;
    top: -20px;
  }
}

.comment2 {
    display: block;
    position: absolute;
    bottom: 15%;
    right: 0%;
    width: 50%;
    text-align: right;
}

.comment-text {
    display: inline-block;
    max-width: 240px;
    color: #8492af;
    margin-top: 1rem;
    line-height: 1.5em;
    word-break: break-word;
    font-size: 0.7rem;
}

.line {
    display: inline-block;
    background-color: #5584ff;
    width: 100%;
    height: 2px;
    position: relative;
}

.prices {
    width: 95%;
    text-align: center;
}

.price-plans {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.plan {
    opacity: 0.6;
    position: relative;
    box-sizing: border-box;
    transition: opacity .2s, transform .2s ease-in, border-radius  .2s ease-in, box-shadow  .2s ease-in;
    text-align: center;
    align-items: center;
    display: flex;
    margin: 25px 10px;
    width: 240px;
    flex-flow: column;
}

.plan:hover {
    opacity: 1;
    transform: scale(1.1);
}

.butt {
    outline: none;
    bottom: -35px;
    left: 100px;
    opacity: 0;
    background-color: rgba(8,97,207,0.7);
    border: none;
    color: white;
    padding: 0.3rem 1rem;
    transition: opacity .2s;
    border-radius: 45px;
}

.plan:hover  > .butt {
    opacity: 1;
}

.butt:active {
    background-color: #29334E;
}

.value {
    font-size: 2.222rem;
    font-weight: bold;
}

.plan h4 {
    display: block;
    font-size: 1.5rem;
    font-weight: 500;
    margin: 0;
}

.plan h5 {
    display: block;
    margin: .3em 0;
}

.tarif {
    font-size: 3.5rem;
    font-weight: bold;
}

.month {
    font-size: 1rem;
    color: #8492af;
}

.plan>p {
    display: flex;
    align-items: center;
    margin: 5px 0;
    font-size: 0.9rem;
}

.buy {
    text-align: center;
    display: inline-block;
    width: 95%;
    margin-top: 5rem;
}

.buy>h5 {
    margin: 0 auto;
    width: 100%;
    font-size: 1rem;
    color: #8492af;
    font-weight: normal;
    line-height: 1.5em;
}

.buy a {
    font-size: 1rem;
    transition: background-color .3s;
    display: inline-block;
    background-color: #5584ff;
    margin: 2rem 0rem;
    border-radius: 2rem;
    padding: 1rem 3.5rem;
    font-weight: bold;
    color: white;
}

.decorate {
    display: inline-block;
}

.decorate img {
    display: none;
    padding: 0 1rem;
    max-width: 20%;
}

.buy a:active {
    background-color: #29334E;
}

/*-^-MAIN-^-*/
/*-V-FOOTER-V-*/

.footer {
    background-color: #0e1a35;
    color:#8492af;
}

.cont {
    display: flex;
    left: 0px;
    right:0;

    justify-content: space-around;

    align-items: center;
    padding: 20px 10px;
    flex-flow: column-reverse;
}

.copyright {
    font-size: 0.6rem;
    display: inline-block;
}

ul.footer-menu {
    display: flex;
    font-size: 1rem;
    padding: 0;
    width: 100%;
    justify-content: space-between; /*позже изменить*/
}


ul.footer-menu li {
    display: inline-block;
    padding: 0 5px; /*позже изменить*/
}

.footer-menu>ul>li>a {
    position: relative;
}

.social {
    transform: scale(1);
    transition:transform .1s ease-in;
}

.social:active{
    transform: scale(1.5);
}



/*for the menu*/
.do-not-display-in-mobile {
    display: none;
}
