* {
    box-sizing: border-box;
}



#overlay {
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.65);
    z-index: 999;
    -webkit-animation: fade .6s;
    -moz-animation: fade .6s;
    animation: fade .6s;
    overflow: auto;
}



.popup {
    text-align: center;
    top: 25%;
    left: 0;
    right: 0;
    font-size: 14px;
    margin: auto;
    width: 75%;
    position: absolute;
    border: 1px solid #383838;
    background: #fefefe;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    font: 14px/18px 'Tahoma', Arial, sans-serif;
    -webkit-box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
    -moz-box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
    -ms-box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
    box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
    -webkit-animation: fade .6s;
    -moz-animation: fade .6s;
    animation: fade .6s;
    padding: 15px 20px;
    display: flex;
    flex-flow: column;
}



.popup:before {
    z-index: 1000;
    content: url(../img/modal.png);
    margin: -160px auto 0;
    display: inline-block;
    background-color: white;
    border-radius: 100%;
    padding: 50px;
}



.close {
    top: 10px;
    right: 10px;
    width: 32px;
    height: 32px;
    position: absolute;
    border: none;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    background-color: rgba(0, 131, 119, 0.9);
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    cursor: pointer;
    outline: none;
}



.close:before {
    color: rgba(255, 255, 255, 0.9);
    content: "X";
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: normal;
    text-decoration: none;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.9);
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}

.close:active {
    background-color: rgba(252, 20, 0, 0.8);
}



.overlay-content h2 {
    font-size: 2.66rem;
    line-height: 1em;
    color: #eb304d;
}



.overlay-content p {
    display: block;
    font-size: 1.33rem;
    color: #b9bcd1;
}



.overlay-content a {
    color: white;
    background-color: #eb304d;
    border-radius: 5px;
    font-size: 1.33rem;
    display: block;
    width: 13.2em;
    margin: 70px auto;
    padding: 1.5em 0em;
}



.overlay-content a:active {
    background-color: #A40000;
}



body {
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}



a {
    text-decoration: none;
    color: inherit;
}



.top {
    height: 100%;
    background-color: #0e1a35;
    background-image: url(../img/Grid.png);
    background-position: top;
    background-repeat: no-repeat;
}



.container {
    margin: 0 auto;
    box-sizing: border-box;
}



.nav {
    display: flex;
    flex-wrap: nowrap;
    height: 4rem;
    position: relative;
    left: 0;
    right: 0;
    justify-content: space-between;
    align-items: center;
    max-width: 95%;
    margin: 0 auto;
    padding-top: 5px;
}



.logo {
    display: block;
    background-image: url(../img/logo.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: left;
    background-position-y: center;
    height: 100%;
    width: 25%;
    opacity: 0.7;
    transition: opacity .3s ease-in;
}



.logo:active {
    opacity: 1;
}



ul.menu-main {
    color: white;
    font-size: 1rem;
    display: block;
    margin: 0;
    padding: 0;
}



ul.menu-main li {
    display: inline-block;
    padding: 0 20px 0px 0px;
}



ul.menu-main li:last-child {
    padding: 0px;
}



li>a {
    position: relative;
}



.underline::before {
    display: block;
    position: absolute;
    content: "";
    height: 2px;
    width: 0;
    background-color: red;
    transition: width .1s ease-in-out, left .1s ease-in-out;
    left: 50%;
    bottom: -5px;
}



.underline::after {
    display: block;
    position: absolute;
    content: "";
    height: 2px;
    width: 0;
    background-color: red;
    transition: width .1s ease-in-out;
    left: 50%;
    bottom: -5px;
}



.underline:active::before {
    width: 50%;
    left: 0;
}



.underline:active::after {
    width: 50%;
}



#login {
    display: inline-block;
    width: 140px;
    vertical-align: middle;
    text-align: center;
    border: 1px solid #233972;
    border-radius: 45px;
    cursor: pointer;
    transition-duration: .4s;
    transition: all .1s;
    padding: 0.75rem 0rem;
    color: #5584ff;
}



#login span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: all .5s;
}



#login span:after {
    content: '\00BB';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: all .5s;
}



#login:active span {
    padding-right: 25px;
}



#login:active span:after {
    opacity: 1;
    right: 0;
}



.hero {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-image: url(../img/Gir.png);
    background-position: top;
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 110px;
}



.caption {
    text-align: center;
}



.home-image::before {
    z-index: -1;
    content: "";
    display: block;
    position: absolute;
    box-shadow: 0px 0 60px -3px rgba(8,97,207, 0.7);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}



.home-image::after {
    content: '';
    display: block;
    position: absolute;
    bottom: -52px;
    height: 180px;
    background: #fff;
    z-index: -1;
    right: -2%;
    left: -2%;
}



.home-image {
    z-index: 20;
    position: relative;
    margin-bottom: -8rem;
    max-width: 95%;
}



.home-image>img {
    width: 100%;
    height: auto;
}



.caption h1 {
    color: white;
    font-size: 3.1111rem;
    font-weight: 100;
    display: inline-block;
}



.caption p {
    color: #8492af;
    font-size: 1.89rem;
    margin: 0;
}



.caption a {
    transition: background-color .3s;
    display: inline-block;
    background-color: #5584ff;
    margin: 3rem 0rem;
    border-radius: 2rem;
    font-weight: bold;
    font-size: 1rem;
    color: white;
    padding: 0.85rem 2.5rem;
}



.caption>a:active {
    background-color: #29334E;
}



.main {
    z-index: 1;
    display: block;
    position: relative;
    background-color: white;
}



.features {
    z-index: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 12rem;
    max-width: 80%;
    margin: 0 auto;
}



.feature {
    text-align: center;
    margin: 18px 5px;
    max-width: 290px;
}



.icon-wrapper {
    margin: 0 auto 20px;
    display: flex;
    width: 90px;
    height: 90px;
    justify-content: center;
    align-items: center;
}



.feature h5 {
    font-weight: bold;
    font-size: 1.125rem;
    margin: 1rem 0rem;
}



.feature p {
    font-size: 1rem;
    color: #8492af;
    line-height: 1.5em;
    margin: 0;
}



.feature a {
    display: inline-block;
    padding: 0.5rem 2rem;
    background-color: transparent;
    border: 1px solid #dadee7;
    border-radius: 50px;
    cursor: pointer;
    transition: .3s background-color ease-in-out;
    font-weight: bold;
    margin: 20px 0px;
}



.feature a:active {
    background-color: lightblue;
}



.devices {
    flex-wrap: wrap;
    position: relative;
    display: flex;
    justify-content: space-between;
    left: 0;
    right: 0;
    padding: 10px 0px 20px;
    align-items: center;
}



.specs>div>img {
    width: 24px;
    height: 24px;
}



.specs {
    display: inline-block;
    width: 42%;
    margin: 0% 1% 0% 2%;
}



.specs h2 {
    font-size: 3.33rem;
    font-weight: 100;
}



.specs p {
    color: #8492af;
    font-size: 1rem;
    line-height: 1.5em;
    display: inherit;
    margin: 1.33em 0rem;
}



.dev {
    background-image: url(../img/devices.png);
    background-size: contain;
    background-position-y: center;
    background-position-x: 100%;
    background-repeat: no-repeat;
    display: inline-block;
    width: 55%;
    min-height: 600px;
}



.specs>div {
    color: #5584ff;
    font-size: 1.22rem;
    padding: 1rem 0rem;
    align-items: center;
}



.area-background {
    background-color: #0e1a35;
    height: auto;
    width: 100%;
}



.drag-area {
    background-color: #0e1a35;
    background-repeat: no-repeat;
    display: flex;
    background-image: url(../img/Grid.png);
    align-items: center;
    flex-wrap: wrap;
}



.drag-area-background {
    display: flex;
    background-image: url(../img/Gir.png);
    background-position: center;
    background-repeat: no-repeat;
    flex-flow: column;
    padding: 50px 0px;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}



.empty-block {
    box-sizing: border-box;
    width: 760px;
    display: flex;
    justify-content: space-around;
    margin: 10px;
}



.progress, .completed {
    color: white;
    font-size: 1.72rem;
    width: 90%;
    font-weight: 500;
    margin-bottom: 1rem;
}



#sortable1, #sortable2 {
    height: auto;
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 5px 0 0 0;
    align-items: center;
    flex-flow: column;
    position: relative;
}



#sortable1 li, #sortable2 li {
    margin: 0 5px 5px 5px;
    padding: 5px;
    font-size: 1.2em;
}



.task {
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    background-color: white;
    width: 360px;
    height: 90px;
    cursor: pointer;
    box-shadow: 0px 0px 10px 2px rgba(76,76,255,0.7);
    transition: box-shadow .3s;
}



.task:active {
    box-shadow: 0px 0px 35px 2px rgba(0, 174, 225, .8);
    cursor: move;
}



.letter {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50%;
    background-color: #5C80FC;
    border-radius: 45%;
    margin-left: 5%;
    width: 12.5%;
    font-size: 1.5rem;
}



.letter-style {
    display: block;
    color: white;
    font-weight: 500;
}



.text-date {
    display: flex;
    flex-flow: column;
    width: 70%;
    height: 50%;
    justify-content: space-around;
}



.text, .date {
    padding-left: 15px;
    display: flex;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
}



.text {
    font-size: 1rem;
}



.date {
    font-size: 0.8rem;
    color: gray;
    font-weight: 300;
}



.forms {
    width: 10%;
    display: flex;
    flex-flow: column;
    align-items: center;
}



.forms>span {
    display: block;
    width: 5px;
    height: 5px;
    background-color: gray;
    border-radius: 45px;
    margin: 2px;
    transition: background-color .2s;
}



.forms:hover span {
    background-color: blue;
}



.forms:active span {
    background-color: red;
}



.ui-state-highlight {
    display: inline;
    color: white;
    content: 'Drop here';
    width: 390px;
    height: 90px;
    background-color: transparent;
    box-shadow: 0px 0px 35px 10px rgba(0, 174, 225, .2);
}



.list-heading {
    font-size: 1.72rem;
    color: white;
    font-weight: 500;
    margin-bottom: 0;
    padding: 0 10px;
}



.input {
    display: none;
    position: absolute;
    background-color: rgba(14, 26, 53, 0.89);
    width: 420px;
    height: auto;
    top: 90px;
    z-index: 20;
    transition: all .3s;
    left: -15px;
    padding: 5px;
}



.create-task {
    padding: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}



label {
    width: 40%;
    display: inline-block;
    font-size: 1.1rem;
    font-weight: 300;
}



form {
    display: block;
    font-size: 1rem;
    width: 100%;
    color: white;
}



input {
    outline: none;
    display: inline-block;
    margin: 5px auto;
    border: none;
    color: white;
    background-color: rgba(117, 134, 172, 0.89);
    height: 2em;
}



.accept {
    padding: 5px 27px;
    border-radius: 5px;
    background-color: cornflowerblue;
    display: block;
    margin: 15px auto;
}



.accept:hover {
    background-color: #5584ff;
}



::-webkit-datetime-edit {
    padding: 1em;
}



::-webkit-datetime-edit-text {
    color: white;
    padding: 0 0.3em;
}



::-webkit-datetime-edit-month-field {
    color: white;
}



::-webkit-datetime-edit-day-field {
    color: white;
}



::-webkit-datetime-edit-year-field {
    color: white;
}



::-webkit-inner-spin-button {
    display: none;
}



.slider-body {
    display: inline-block;
    width: 700px;
    margin: 3rem 1rem;
}



.slider {
    width: 100%;
}



.slide-content {
    outline: none;
}



.your-class h2 {
    color: white;
    font-weight: 100;
    font-size: 2.75rem;
}



.slick-arrow {
    transform: scale(1);
    transition: transform .1s ease-in;
}



.slick-arrow:active {
    transform: scale(1.2);
}



.your-class p {
    color: #8492af;
    font-size: 1.125rem;
    margin: 3rem 0rem;
    line-height: 2em;
}



.template {
    position: relative;
    height: auto;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    max-width: 2000px;
}



.template-caption {
    text-align: center;
    width: 90%;
    margin-top: 2rem;
}



.template h2 {
    display: inline-block;
    font-weight: 100;
    font-size: 3.33rem;
    text-align: center;
}



.template p {
    display: block;
    color: #8492af;
    line-height: 1.5em;
    font-size: 1rem;
    margin: 0rem 0rem 3rem;
}



.example {
    position: relative;
    display: block;
    background-image: url(../img/Mockup.png);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-size: contain;
    width: 95%;
    height: 550px;
}



.comment1 {
    display: block;
    position: absolute;
    top: 5%;
    left: 0%;
    width: 55%;
}



.example h6 {
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}



.point1 {
    position: absolute;
    width: 45px;
    height: 45px;
    background-image: url(../img/point1.png);
    background-position: center;
    background-size: 80%;
    display: inline-block;
    background-color: rgba(85,132,255, 0.5);
    border-radius: 45px;
    margin: 0px;
    background-repeat: no-repeat;
    right: -3%;
    top: 37%;
}



.point2 {
    position: absolute;
    width: 45px;
    height: 45px;
    background-image: url(../img/point1.png);
    background-position: center;
    background-size: 80%;
    left: -3%;
    top: 38%;
    display: inline-block;
    background-color: rgba(85,132,255, 0.5);
    border-radius: 45px;
    margin: 0px;
    background-repeat: no-repeat;
}



.comment2 {
    display: block;
    position: absolute;
    bottom: 25%;
    right: 10%;
    width: 50%;
    text-align: right;
}



.comment-text {
    display: inline-block;
    max-width: 240px;
    color: #8492af;
    margin-top: 1rem;
    line-height: 1.5em;
    word-break: break-word;
}



.line {
    display: inline-block;
    background-color: #5584ff;
    width: 100%;
    height: 2px;
}



.prices {
    width: 80%;
    text-align: center;
}



.price-plans {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: row;
    flex-wrap: wrap;
    width: 100%;
}



.plan {
    opacity: 0.6;
    position: relative;
    width: 250px;
    box-sizing: border-box;
    transition: opacity .2s, transform .2s ease-in, border-radius  .2s ease-in, box-shadow  .2s ease-in;
    text-align: center;
    flex-flow: column;
    align-items: center;
    display: flex;
    margin: 1.5rem;
}



.plan:hover {
    opacity: 1;
    transform: scale(1.1);
}



.butt {
    outline: none;
    bottom: -35px;
    left: 100px;
    opacity: 0;
    background-color: rgba(8,97,207,0.7);
    border: none;
    color: white;
    padding: 0.3rem 1rem;
    border-radius: 45px;
    transition: opacity .2s;
}



.plan:hover  > .butt {
    opacity: 1;
}



.butt:active {
    background-color: #29334E;
}



.plan h4 {
    display: block;
    font-size: 1.5rem;
    font-weight: 500;
    margin: 0;
}



.value {
    font-size: 2.222rem;
    font-weight: bold;
}



.plan h5 {
    display: block;
}



.tarif {
    font-size: 4.5rem;
    font-weight: bold;
}



.month {
    font-size: 1.5rem;
    color: #8492af;
}



.plan>p {
    display: flex;
    align-items: center;
    margin: 5px 0;
}



.buy {
    text-align: center;
    display: inline-block;
    width: 70%;
    margin-top: 5rem;
}



.buy>h5 {
    margin: 0 auto;
    width: 100%;
    font-size: 1rem;
    color: #8492af;
    font-weight: normal;
    line-height: 1.5em;
}



.buy a {
    font-size: 1.125rem;
    transition: background-color .3s;
    display: inline-block;
    background-color: #5584ff;
    margin: 3rem 0rem;
    border-radius: 2rem;
    padding: 1rem 3.5rem;
    font-weight: bold;
    color: white;
}



.decorate {
    display: inline-block;
    max-width: 100%;
}



.decorate img {
    display: inline-block;
    padding: 0 1rem;
    max-width: 20%;
}



.buy a:active {
    background-color: #29334E;
}

/*-^-MAIN-^-*/
/*-V-FOOTER-V-*/

.footer {
    background-color: #0e1a35;
    color:#8492af;
}

.cont {
    display: flex;
    left: 0px;
    right:0;

    justify-content: space-between;

    align-items: center;
    padding: 1rem 1rem;
    
}

.copyright {
    font-size: 0.8rem;
}

ul.footer-menu {
    display: flex;
    justify-content: space-between;
    align-content: center;
    font-size: 1rem; /*позже изменить*/
}


ul.footer-menu li {
    display: inline-block;
    padding: 0px 20px; /*позже изменить*/
}

.footer-menu>ul>li>a {
    position: relative;
}

.social {
    transform: scale(1);
    transition:transform .1s ease-in;
}

.social:active{
    transform: scale(1.5);
}


.do-not-display-in-desktop {
    display: none;
}